{% extends 'baseView.twig' %}

{% block styles %}
{% endblock %}

{% block body %}
  <h2>Список категорий</h2>

  <div class="form-group">
    <a class="btn btn-success" href="{{ staticCall('Router', 'route', ['categories.create']) }}">Добавить категорию</a>
  </div>

  {% if action is defined %}
    <form class="form-horizontal form-container"
      {% if action == 'edit' %}
        action="{{ staticCall('Router', 'route', ['categories.update', {'id' : id }]) }}"
      {% else %}
        action="{{ staticCall('Router', 'route', ['categories.store']) }}"
      {% endif %}
          method="POST">
      <div class="form-group">
        <h3>{% if action == 'edit' %}Изменение{% else %}Добавление новой{% endif %} категории</h3>
      </div>
      <div class="form-group">
        <label for="name" class="col-xs-2 control-label">Название:</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" name="name" id="name" placeholder="Название"
                 value="{% if editItem['name'] is defined %}{{ editItem['name'] }}{% endif %}" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          {% if action == 'edit' %}
            <input type="hidden" name='_method' value="PUT">
            <input type="hidden" name="id" value="{{ editItem['id'] }}">
            <input class="btn btn-success" type="submit" name="save" value="Сохранить">
          {% else %}
            <input class="btn btn-success" type="submit" name="add" value="Добавить">
          {% endif %}
        </div>
      </div>
    </form>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th rowspan="2">№п/п</th>
        <th rowspan="2">Название</th>
        <th colspan="4">Вопросов в категории</th>
        <th rowspan="2">Создана</th>
        <th rowspan="2">Обновлена</th>
        <th rowspan="2">Действия</th>
      </tr>
      <tr>
        <th>Всего</th>
        <th>Опубликовано</th>
        <th>Ожидающих ответ</th>
        <th>Скрыто</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item['name'] }}</td>
          <td>
            <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : item['id'] }]) }}">
              <span class="badge">{{ item['all_questions'] }}</span>
            </a>
          </td>
          <td>
            <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : item['id'] }]) }}">
              <span class="badge">{{ item['published_questions'] }}</span>
            </a>
          </td>
          <td>
            <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : item['id'] }]) }}">
              <span class="badge">{{ item['wait_answer_questions'] }}</span>
            </a>
          </td>
          <td>
            <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : item['id'] }]) }}">
              <span class="badge">{{ item['hidden_questions'] }}</span>
            </a>
          </td>
          <td>{{ item['created_at'] }}</td>
          <td>{{ item['updated_at'] }}</td>
          <td>
            <a class="btn btn-primary"
               href="{{ staticCall('Router', 'route', ['categories.edit', {'id' : item['id']}]) }}">Изменить</a>
            <form class="d-inline-block"
                  action="{{ staticCall('Router', 'route', ['categories.destroy', {'id' : item['id']}]) }}"
                  method="POST">
              <input type="hidden" name='_method' value="DELETE">
              <input class="btn btn-danger" type="submit" name="delete" value="Удалить"
                     data-toggle="tooltip" title="При удалении категории также будут удалены все вопросы из нее!">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}