{% extends 'baseView.twig' %}

{% block styles %}
{% endblock %}

{% block body %}
  <h2>Список администраторов</h2>

  <div class="form-group">
    <a class="btn btn-success" href="{{ staticCall('Router', 'route', ['users.create']) }}">Добавить пользователя</a>
  </div>



  {% if action is defined %}

    <div class="table-responsive">
      <form
        {% if action == 'edit' %}
          action="{{ staticCall('Router', 'route', ['users.update', {'id' : id }]) }}"
        {% else %}
          action="{{ staticCall('Router', 'route', ['users.store']) }}"
        {% endif %}
        method="POST">
        <table class="table table-bordered">
          <tr>
            <th colspan="5">{% if action == 'edit' %}Изменение{% else %}Добавление нового{% endif %} пользователя</th>
          </tr>
          <tr>
            <th>№п/п</th>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Права</th>
            <th>Действия</th>
          </tr>
          {% if action == 'edit' %}
            {% for user in items %}
              {% if user['id'] == id %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><input type="text" name="name" value="{{ user['name'] }}" placeholder="Логин"></td>
                  <td><input type="password" name="password" value="" placeholder="Пароль"></td>
                  <td>{{ user['role'] }}</td>
                  <td>
                    <input type="hidden" name='_method' value="PUT">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input class="btn btn-success" type="submit" name="save" value="Сохранить">
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% else %}
            <tr>
              <td>{{ loop.index }}</td>
              <td><input type="text" name="name" value="" placeholder="Логин"></td>
              <td><input type="password" name="password" value="" placeholder="Пароль"></td>
              <td>admin</td>
              <td>
                <input class="btn btn-success" type="submit" name="add" value="Добавить">
              </td>
            </tr>
          {% endif %}
        </table>
      </form>
    </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>№п/п</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Права</th>
        <th>Действия</th>
      </tr>
      {% for user in items %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ user['name'] }}</td>
          <td>****</td>
          <td>{{ user['role'] }}</td>
          <td>
            <a class="btn btn-primary" href="{{ staticCall('Router', 'route', ['users.edit', {'id' : user['id']}]) }}">Изменить</a>
            <form class="d-inline-block"
                  action="{{ staticCall('Router', 'route', ['users.destroy', {'id' : user['id']}]) }}" method="POST">
              <input type="hidden" name='_method' value="DELETE">
              <input class="btn btn-danger" type="submit" name="delete" value="Удалить">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}