{% extends 'baseView.twig' %}

{% block styles %}
{% endblock %}

{% block body %}
  <h2>Список вопросов</h2>

  <div class="form-group">
    <a class="btn btn-success" href="{{ staticCall('Router', 'route', ['questions.create']) }}">Добавить вопрос</a>
  </div>

  {% if action is defined %}
    <div class="table-responsive">
      <form
        {% if action == 'edit' %}
          action="{{ staticCall('Router', 'route', ['questions.update', {'id' : id }]) }}"
        {% else %}
          action="{{ staticCall('Router', 'route', ['questions.store']) }}"
        {% endif %}
        method="POST">
        <table class="table table-bordered">
          <tr>
            <th colspan="11">{% if action == 'edit' %}Изменение{% else %}Добавление нового{% endif %} вопроса</th>
          </tr>
          <tr>
            <th>№п/п</th>
            <th>Категория</th>
            <th>Вопрос</th>
            <th>Автор</th>
            <th>E-mail автора</th>
            <th>Ответ</th>
            <th>Состояние</th>
            <th>Логин</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Действия</th>
          </tr>

          <h3>{{ categoriesWithQuestions[id] }}</h3>

          {% if action == 'edit' %}
            {% for category, questions in categoriesWithQuestions %}
              {% for question in questions %}
                {% if question['id'] == id %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                      <select class="form-control" name="category_id" id="category_selector">
                        {% for category in categories %}
                          <option{% if question['category_id'] == category['id'] %} selected{% endif %}
                            value="{{ category['id'] }}">{{ category['name'] }}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" name="question"
                                required>{% if question['name'] is defined %}{{ question['name'] }}{% endif %}</textarea>
                    </td>
                    <td>
                      <input class="form-control" type="text" name="author"
                             value="{% if question['author'] is defined %}{{ question['author'] }}{% endif %}">
                    </td>
                    <td>
                      <input class="form-control" type="text" name="author_email"
                             value="{% if question['author_email'] is defined %}{{ question['author_email'] }}{% endif %}">
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" name="answer"
                      >{% if question['answer'] is defined %}{{ question['answer'] }}{% endif %}</textarea>
                    </td>
                    <td>
                      <select class="form-control" name="state">
                        {% for state in states %}
                          <option{% if state == question['state'] %} selected{% endif %}
                            value="{{ state }}">{{ state }}
                          </option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>{% if question['user_login'] is defined %}{{ question['user_login'] }}{% endif %}</td>
                    <td>{{ question['created_at'] }}</td>
                    <td>{{ question['updated_at'] }}</td>
                    <td>
                      <input type="hidden" name='_method' value="PUT">
                      <input type="hidden" name="id" value="{{ question['id'] }}">
                      <input class="btn btn-success" type="submit" name="save" value="Сохранить">
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% else %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <select class="form-control" name="category_id" id="category_selector">
                  {% for category in categories %}
                    <option{% if loop.first %} selected{% endif %}
                      value="{{ category['id'] }}">{{ category['name'] }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <textarea class="form-control" rows="5" name="question" required></textarea>
              </td>
              <td>
                <input class="form-control" type="text" name="author" value="">
              </td>
              <td>
                <input class="form-control" type="text" name="author_email" value="">
              </td>
              <td>
                <textarea class="form-control" rows="5" name="answer"></textarea>
              </td>
              <td>
                <select class="form-control" name="state">
                  {% for state in states %}
                    <option{% if loop.first %} selected{% endif %} value="{{ state }}">{{ state }}</option>
                  {% endfor %}
                </select>
              </td>
              <td></td>
              <td>{{ question['created_at'] }}</td>
              <td>{{ question['updated_at'] }}</td>
              <td>
                <input class="btn btn-success" type="submit" name="add" value="Добавить">
              </td>
            </tr>
          {% endif %}
        </table>
      </form>
    </div>
  {% endif %}

  {% for category, questions in categoriesWithQuestions %}
    <div class="table-responsive">
      <h3 id="{{ category }}">{{ category }}</h3>
      <table class="table table-bordered">
        <tr>
          <th>№п/п</th>
          <th>Вопрос</th>
          <th>Автор</th>
          <th>E-mail автора</th>
          <th>Ответ</th>
          <th>Состояние</th>
          <th>Логин</th>
          <th>Создан</th>
          <th>Обновлен</th>
          <th>Действия</th>
        </tr>

        {% for question in questions %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ question['name'] }}</td>
            <td>{{ question['author'] }}</td>
            <td>{{ question['author_email'] }}</td>
            {% if question['answer'] is empty %}
              <td class="bg-danger">не указан</td>
            {% else %}
              <td class="bg-success">указан</td>
            {% endif %}
            <td
              {% if question['state'] == 'скрыт' %}
                class="bg-danger"
              {% elseif question['state'] == 'опубликован' %}
                class="bg-success"
              {% else %}
                class="bg-info"
              {% endif %}
            >{{ question['state'] }}</td>
            <td>{{ question['user_login'] }}</td>
            <td>{{ question['created_at'] }}</td>
            <td>{{ question['updated_at'] }}</td>
            <td>
              <a class="btn btn-primary"
                 href="{{ staticCall('Router', 'route', ['questions.edit', {'id' : question['id']}]) }}">Изменить</a>
              <form class="d-inline-block"
                    action="{{ staticCall('Router', 'route', ['questions.destroy', {'id' : question['id']}]) }}"
                    method="POST">
                <input type="hidden" name='_method' value="DELETE">
                <input class="btn btn-danger" type="submit" name="delete" value="Удалить">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}

{% endblock %}