{% extends 'baseView.twig' %}

{% block styles %}
{% endblock %}

{% block body %}
  <h2>Список категорий</h2>

  {% if action is defined %}
    {% if action == 'edit' %}
      <div class="table-responsive">
        <form action="{{ staticCall('Router', 'route', ['categories.update', {'id' : id }]) }}" method="POST">
          <table class="table table-bordered">
            <tr>
              <th colspan="5">Изменение категории</th>
            </tr>
            <tr>
              <th>№п/п</th>
              <th>Название</th>
              <th>Действия</th>
            </tr>
            {% for item in items %}
              {% if item['id'] == id %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><input type="text" name="name" value="{{ item['name'] }}" placeholder="Название"></td>
                  <td>
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name='_method' value="PUT">
                    <input class="btn" type="submit" name="save" value="Сохранить">
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        </form>
      </div>

    {% else %}

      <div class="table-responsive">
        <form action="{{ staticCall('Router', 'route', ['categories.index']) }}" method="POST">

          <table class="table table-bordered">
            <tr>
              <th colspan="5">Добавление новой категории</th>
            </tr>
            <tr>
              <th>№п/п</th>
              <th>Название</th>
              <th>Действия</th>
            </tr>
            <tr>
              <td>{{ loop.index }}</td>
              <td><input type="text" name="name" value="" placeholder="Название"></td>
              <td>
                <input class="btn" type="submit" name="add" value="Добавить">
              </td>
            </tr>
          </table>
        </form>
      </div>

    {% endif %}
  {% endif %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>№п/п</th>
        <th>Название</th>
        <th>Действия</th>
      </tr>
      {% for item in items %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ item['name'] }}</td>
          <td>
            <a href="{{ staticCall('Router', 'route', ['categories.edit', {'id' : item['id']}]) }}">Изменить</a>
            <form class="d-inline-block"
                  action="{{ staticCall('Router', 'route', ['categories.destroy', {'id' : item['id']}]) }}" method="POST">
              <input type="hidden" name='_method' value="DELETE">
              <input class="btn" type="submit" name="delete" value="Удалить">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{{ staticCall('Router', 'route', ['categories.create']) }}">Добавить категорию</a>
  </div>

{% endblock %}