{# app/views/***.twig #}
<!DOCTYPE html>
<html lang="ru" class="no-js">
  <head>
    <title>Сервис вопросов и ответов (FAQ)</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--<!-- Подключаем Bootstrap -->
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Подключаем стили темы Bootstrap (если нужно) -->
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="resources/css/dashboard.css" rel="stylesheet">

    <!-- Подключаем скрипты Bootstrap -->
    <script src="vendor/components/jquery/jquery.js"></script>
    {% block styles %}
    {% endblock %}
    <link href="resources/css/styles.css" rel="stylesheet">
  </head>
  <body>
    {% if user is defined %}
      <div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ staticCall('Router', 'route', ['index']) }}">Интерфейс администратора</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse collapsed">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                     aria-expanded="false">{{ user }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ staticCall('Router', 'route', ['logout']) }}">Выход</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>

      <div>

        <div class="col-sm-3 col-md-2 sidebar collapse navbar-collapse list-group" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-sidebar">
            <li {% if staticCall('Router', 'currentRouteName') == 'index'
                  or staticCall('Router', 'currentRouteName') == 'index_store' %}class="active"{% endif %}>
              <a href="{{ staticCall('Router', 'route', ['index']) }}">Вопросы (вид со стороны клиента)</a>
            </li>
          </ul>
          <ul class="nav nav-sidebar">
            <li {% if 'users' in staticCall('Router', 'currentRouteName') %}class="active"{% endif %}>
              <a href="{{ staticCall('Router', 'route', ['users.index']) }}">Пользователи</a>
            </li>
            <li {% if 'categories' in staticCall('Router', 'currentRouteName') %}class="active"{% endif %}>
              <a href="{{ staticCall('Router', 'route', ['categories.index']) }}">Категории</a>
            </li>
            <li class="dropdown {% if 'questions' in staticCall('Router', 'currentRouteName')
              or 'quest' in staticCall('Router', 'currentRouteName') %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вопросы <span class="caret"></span>
                <span class="badge pull-right">{% if num_questions is defined %}{{ num_questions }}{% endif %}</span></a>
              <ul class="dropdown-menu wdth100" role="menu">
                <li {% if 'questions' in staticCall('Router', 'currentRouteName') %}class="active"{% endif %}>
                  <a href="{{ staticCall('Router', 'route', ['questions.index']) }}">Все
                    <span class="badge pull-right">{% if num_questions is defined %}{{ num_questions }}{% endif %}</span></a>
                </li>
                <li class="divider"></li>
                <li>По состоянию</li>
                {% for state in states %}
                  <li {% if ['state/', loop.index0]|join in staticCall('Router', 'currentRouteUrl')  %}class="active"{% endif %}>
                    <a href="{{ staticCall('Router', 'route', ['quest_by_state', {'state' : loop.index0 }]) }}">{{ state|capitalize }}
                      <span class="badge pull-right">
                        {% if num_question_states[loop.index0] is defined %}{{ num_question_states[loop.index0] }}{% endif %}
                      </span>
                    </a>
                  </li>
                {% endfor %}
                <li class="divider"></li>
                <li>По теме</li>
                {% for category in categories %}
                  <li {% if ['category/', category['id']]|join in staticCall('Router', 'currentRouteUrl')  %}class="active"{% endif %}>
                    <a href="{{ staticCall('Router', 'route', ['quest_by_category', {'category' : category['id'] }]) }}">{{ category['name'] }}
                      <span class="badge pull-right">
                        {% if num_question_categories[category['id']] is defined %}{{ num_question_categories[category['id']] }}{% endif %}
                      </span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>

      </div>
    {% endif %}

    <div{% if user is defined %} class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"{% endif %}>

      {% if user is defined %}
        <div class="nav-delimeter"></div>
      {% endif %}

      <div class="container">
        {% for error in errors %}
          <p id="alert" class="alert {{ error.getType() }} text-center">{{ error.getMessage() }}</p>
        {% endfor %}
      </div>

      {% block body %}
      {% endblock %}
    </div>

    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>